<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ng2-charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ng2-charts</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <!-- <div style="height: 300px; width: 200px;"> -->
  <div style="height: 300px; padding: 20px;">
  <!-- <div style="height: 100%;" echarts [options]="multipleLineChartOption" (chartInit)="onChartInit($event)"></div> -->
    <canvas style="height: 100%;" baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>

  <form [formGroup]="chartControlsGroup">
    <ion-list>
      <ion-item>
        <ion-label>Earnings</ion-label>
        <ion-checkbox slot="end" formControlName="earningsData"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Revenue</ion-label>
        <ion-checkbox slot="end" formControlName="revenueData"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Smooth</ion-label>
        <ion-toggle formControlName="smoothLine"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Data period</ion-label>
        <ion-select formControlName="dataPeriod" placeholder="Select a period of time for the data">
          <ion-select-option value="november">This month</ion-select-option>
          <ion-select-option value="october">Last month</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  
</ion-content>
